* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Sansita", sans-serif;
}

/* mobile **************************/
header {
	background-color: #bbb;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

header,
main {
	margin: 0 auto;
}

h1 {
	font-size: 2rem;
}

nav {
	background-color: #36454f;
	margin: 0 auto;
	max-width: 800px;
    justify-content: space-evenly;
    display: flex;
}
nav ul {
	list-style-type: none;
}
h1 {
    color: steelblue;
}

img {
    width: 150px;
    height: auto;
    border: solid steelblue;
    padding: 2px;
    box-shadow: 0 0  30px gray;
}
main {
    grid-column: 2/3;
    margin: 1rem;}
nav a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 1rem;
	text-decoration: none;
}

nav a:hover {
	text-decoration: overline;
    border: #fff;
}

.active {
	color: yellow;
}

/* Larger Views ******************************/
@media (min-width: 640px) {
	nav ul {
		display: flex;
	}
	nav ul li {
		flex: 1 1 100%;
	}
}
main img {
    float: right;
}

footer{
    display: flex;
    background-color: #36454f;
    margin: 20px;
    padding: 2rem;
}